body {
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
}

.logoname {
    flex-grow: 5;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    flex-grow: 5;
    height: 60px;
}

.logoname img {
    height: 90px;
    width: 180px;
    object-fit: contain;
}

.navbar {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.nav-list{
    display: flex;
    gap: 28px;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    font-size: 26px;
    color: green;
}

.underHeader {
    background-color: black;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
} 

.underHeader h1 {
    color: white;
}

.underCaption1 {
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.underCaption1 h1 {
    color: white;
    text-decoration: underline 4px solid green;
    text-underline-offset: 8px;
}

.section1 {
    display: flex;
    align-items: center;
    background-color: black;
    gap: 40%;
    padding: 0px 70px;
    height: 300px;
}

.section1 p {
    color: white;
    font-size: 28px;
}

